/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */


.celek{
	display: flex;
}

.centrum{
	display: flex;
	flex-direction: column;
	flex-basis: 80%;

}

.nav{
	flex-basis: 20%;
	height: 460px;
}

.header,
.footer{
	flex-basis: 20%;
	height: 80px;
}

.article{
	flex-basis: 80%;
	height: 300px;
}