/* intuitivni box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }



body {
	font: 16px/1.5 sans-serif;
}

/*-----------------------*/


/*.oranzova{
	color:orange;
	font-size: 100px;

}*/




.nadpis {
	
	color:blanchedalmond;
}

#kokos
{
	color:chartreuse;
}



*{
	color:red;
}


div h1{
	color:cyan;
}

h1{
	color: magenta !important;
}


