/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: #d1ebec;

}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */


header{
	height: 80px;
	width: 500px;
}


body{
	display:flex;
}

.cream{
	display: flex;
	flex-direction:row;
	height: 300px;
}
 

.article{
flex-basis: 70%;

}


.aside{

flex-basis: 30%;
}

nav{
	height: 460px;
	width:120px;
}

footer{
	height: 80px;
	width: 500px;

}